C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task1\.vs
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task1\Homework_Task1
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task1\x64
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task2\.vs
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task2\Homework_Task2
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task2\x64
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task3\.vs
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task3\Homework_Task3
C:\Users\User\Desktop\Курс Разработчик на С++\Базовое программировние в С++\Homework_base_programming\Homework_lesson5\Homework_Task3\x64