Homework_Task1/.vs/
Homework_Task1/Homework_Task1/
Homework_Task1/x64/
Homework_Task2/.vs/
Homework_Task2/Homework_Task2/
Homework_Task2/x64/
Homework_Task3/.vs/
Homework_Task3/Homework_Task3/
Homework_Task3/x64/